{% extends "base.html" %}

{% block content %}
<div class="parent-container">
    <div class="content-section">
        <div class="index-container">
        <h1>Apie mus</h1>
        <hr>
            <ul>
                <h4>Mūsų Istorija</h4> 
                <li><b>“Grindeiva”</b> yra naujai įkurta grindų betonavimo įmonė, su aistra inovacijoms ir meistriškumui. Nors esame nauji rinkoje, mūsų komanda yra susibūrusi iš aukščiausios klasės specialistų, turinčių naujausias žinias ir technologijas, kad galėtume paversti jūsų įprastą grindų betonavimo patirtį į išskirtinį projektą.</li>


                <h4>Mūsų Misija</h4> 
                <li>Mes įsipareigoję kurti sprendimus, kurie atitinka šiandienos poreikius: efektyvūs, patvarūs ir estetiški grindų apdailos būdai. Mūsų tikslas - ne tik atitikti, bet ir viršyti klientų lūkesčius, pristatant individualizuotus ir šiuolaikiškus grindų betonavimo sprendimus.</li>

                <h4>Mūsų Vertybės</h4> 
                <li><b>Išskirtinumas</b>: Mes garantuojame, kad kiekvienas projektas yra vykdomas su ypatingu dėmesiu ir inovacijomis.</li>
                <li><b>Tikslumas</b>: Mums svarbu, kad kiekvienas detalė būtų atlikta nepriekaištingai.</li>
                <li><b>Sąžiningumas</b>: Visada laikomės skaidrumo principų mūsų operacijose ir komunikacijoje su klientais.</li>
                <li><b>Tvarumas</b>: Siekiame sumažinti ekologinį pėdsaką, naudodami aplinkai draugiškas medžiagas ir metodus.</li>      
                
                <h4>Kodėl Verta Rinktis Mus?</h4> 
                <li>Rinkdamiesi <b>“Grindeiva”</b>, pasirenkate partnerį, kuris įsipareigoja įgyvendinti jūsų viziją su naujausiomis grindų betonavimo technologijomis. Mūsų įsipareigojimai jums:</li>    
                <li>- Asmeninis dėmesys kiekviename projekto žingsnyje.</li>
                <li>- Inovatyvūs sprendimai atitinkantys aukščiausius standartus.</li>
                <li>- Aukšta kokybe ir ilgaamžiškumas.</li>
                <li>- Konkurencingos kainos, atitinkančios mūsų teikiamos vertės standartus.</li><br>
                <li><a href="{% url "contacts" %}">Susisiekite</a> Pradėkime kurti jūsų svajonių grindis jau šiandien. Susisiekite su mumis, ir mes padėsime įgyvendinti jūsų viziją.</li>       
            </ul>
        </div>
    </div>
</div>
{% endblock %}
