{% extends "base.html" %}

{% block content %}
<div class="parent-container">
    <div class="content-section">
        <h2>Kainų skaičiuoklė</h2>
        <hr>
        <h4>Ši kainų skaičiuoklė leidžia jums greitai ir lengvai apskaičiuoti preliminarią paslaugos arba produkto kainą, 
            remiantis įvestu plotu kvadratiniuose metruose (m²) ir storio matmeniu centimetrais (cm).</h4>

        <p>Kai įvesite reikiamus duomenis, paspauskite mygtuką "Skaičiuoti". Toliau jums bus pateikta preliminari kaina eurais.</p>    
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Skaičiuoti</button>  
        </form>    
        <div class="main-container">
        </div>
    </div>
</div>
{% endblock  %}