{% extends "base.html" %}

{% block content %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11475359439"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-11475359439');
</script>
<div class="parent-container">
    <div class="content-section">
        <h1>Susisiekite su mumis!</h1>
        <hr>
        <h4>Su mumis galite susisiekti telefonu arba išsiųsti užpildytą formą tiesiog iš mūsų svetainės.</h4>
        <div class="main-container">
            <div class="contact-container">
                <div>
                    <h3>Kontaktai</h3>
                    <p>Grindų betonavimas: “Grindeiva”</p>
                    <p>Tel. nr. : (8-602) 28426</p>
                    <p>Adresas: Šiauliai, Šiaulių apskritis</p>
                    <a href="https://www.facebook.com/people/Grindų-betonavimas/100090355872470/">Facebook</a>
                </div>
                <div>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <h3>Turite klausimų ?</h3>
                        <p>Parašykite mums</p>
                        <div class="form-row">
                            <label for="{{ form.subject.id_for_label }}">Tema:</label>
                            {{ form.subject }}
                        </div>
                        <div class="form-row">
                            <label for="{{ form.full_name.id_for_label }}">Vardas/Įmonė:</label>
                            {{ form.full_name }}
                        </div>
                        <div class="form-row">
                            <label for="{{ form.email.id_for_label }}">El.Paštas:</label>
                            {{ form.email }}
                        </div>
                        <div class="form-row">
                            <label for="{{ form.question.id_for_label }}">Klausimas:</label>
                            {{ form.question }}
                        </div>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}