{% extends "base.html" %}

{% block content %}






<div class="parent-container">
    <div class="content-section">
        <h1>Galerija</h1>
        <hr>
        <h3>Čia galite pasižiūrėti ir apskaičiuoti preliminarę kainą</h3>
        <div class="main-container">
            <div class="job-container">
                {% for item in object_list %}
                    <div class="job-section">
                        <h1 class="job-title">{{ item.job_title }}</h1>
                        <p class="job-description">{{ item.job_description }}</p>
                        {% for image in item.job_images.all %}
                            <img class="job-image" alt="" src="{{ image.image.url }}">
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock  %}