{% extends "base.html" %}

{% block content %}
<div class="parent-container">
    <div class="content-section">
        <div class="index-container">
        <h1>Grindeiva</h1>
        <h4>Sveiki atvykę į “Grindeiva” Grindų betonavimo pasaulį!</h4>
        <hr>
            <ul>
                <h4>Grindų Paruošimas</h4> 
                <li>Pasirūpinsime, kad jūsų grindys būtų tinkamai paruoštos naujam betonui - greitai ir švariai.</li>

                <h4>Pamatų Įrengimas</h4> 
                <li>Kokybiški pamatai - jūsų pastato stabilumo ir ilgaamžiškumo garantas. Mes juos įrengsime patikimai ir efektyviai.</li>

                <h4>Betonavimo Darbai</h4> 
                <li>Patvarios ir estetiškos betoninės grindys, pagamintos su meistriškumu ir atsidavimu.</li>       
                
                <h4>Grindų Lyginimas</h4> 
                <li>Mūsų grindų lyginimo paslauga užtikrina, kad jūsų grindys būtų tobulo lygumo.</li>    
                       
                <h4>Betono Lyginimas ir Slifavimas</h4> 
                <li>Profesionalus betono lyginimas ir slifavimas, skirti nepriekaištingam paviršiui sukurti.</li>       

                <h4>Šildomos Grindys</h4> 
                <li>Komfortiškas šilumos pojūtis su mūsų įrengtomis šildomomis grindimis - praktiška ir energiją taupanti.</li>   

                <h4>Betoninės Grindys</h4> 
                <li>Modernios ir lengvai prižiūrimos betoninės grindys jūsų namams ar verslui.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
