{% extends "base.html" %}

{% block content %}
<div class="parent-container">
    <div class="content-section">
        <h1>Apie mus</h1>
        <hr>
        <h3>Sveiki atvykę į “Grindeiva” Grindų betonavimo pasaulį!</h3>
        <div class="main-container">
            <ul>
            <h4>Kas mes esame?</h4>
                <li><b>“Grindeiva”</b> yra patikima ir patyrusi įmonė, specializuojasi grindų betonavimo paslaugose.</li>
                <li>Mūsų komanda sudaryta iš profesionalių ir aukštos kvalifikacijos specialistų, įsipareigojusių užtikrinti aukščiausią paslaugų kokybę mūsų klientams.</li>
            </ul>

            <ul>
            <h4>Mūsų misija</h4>
                <li>Mūsų misija yra suteikti klientams ne tik aukštos kokybės grindų betonavimo paslaugas, bet ir išsamų palaikymą bei konsultacijas visose projekto etapuose.</li>
                <li>Esame įsipareigoję ne tik atitikti, bet ir viršyti klientų lūkesčius, užtikrinant ilgalaikę ir patikimą grindų konstrukcijų kokybę.</li>
            </ul>

            <ul>
            <h4>Kodėl pasirinkti mus?</h4>
                <li><b>Patirtis ir Profesionalumas</b>: Mūsų komanda pasižymi ilgamete patirtimi grindų betonavimo srityje.</li><br>
                <li><b>Aukštos Kokybės Medžiagos</b>: Mes naudojame tik aukščiausios kokybės betoną ir kitas medžiagas.</li><br>
                <li><b>Individualus Požiūris</b>: Kiekvienas klientas mums yra unikalus, todėl prie kiekvieno projekto prieiname individualiai, atsižvelgdami į konkrečius poreikius ir lūkesčius.</li><br>
                <li><b>Terminų Laikymasis</b>: Mes suprantame, kokia svarbi yra laiko vertė, todėl mes įsipareigojame laikytis nustatytų darbų atlikimo terminų, garantuojant sklandų projektų eigą ir klientų pasitenkinimą.</li>
            </ul>

            <ul>
            <h4>Mūsų paslaugos</h4>
                <li><b>Grindų betonavimas</b>: Mes teikiame aukštos klasės grindų betonavimo paslaugas, pritaikant jas tiek individualiems gyvenamųjų patalpų projektams, tiek dideliems verslo objektams.</li><br>
                <li><b>Konsultacijos</b>: Mūsų ekspertai suteikia išsamią konsultaciją, padedančią pasirinkti tinkamiausias grindų medžiagas, dizainą ir optimizuoti kitus projektui reikšmingus aspektus.</li><br>
                <li><b>Remontas ir Priežiūra</b>: Užtikriname kokybišką grindų remonto ir reguliarios priežiūros paslaugų teikimą, ilgalaikiam jūsų grindų išvaizdos ir funkcionalumo išlaikymui.</li>
            </ul>

            <ul>
            <h4>Susisiekite su mumis</h4>
                <li>Jeigu turite klausimų ar norite gauti išsamesnės informacijos apie mūsų teikiamas paslaugas, nedvejodami <a href="/contacts">susisiekite su mumis!</a>
                    Esame čia, kad išklausytume Jūsų poreikius ir kartu rastume geriausią sprendimą. Laukiame Jūsų skambučio ar laiško jau šiandien!
                    Dėkojame, kad rinkotės „Grindeiva“. Jūsų pasitikėjimas ir pasitenkinimas - mūsų didžiausias įvertinimas!</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
