{% extends "base.html" %}

{% block content %}
<div class="content-section">
    <h1>Apie mus</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. ...</p>
    <p>Lorem ipsum dolor sit amefgjfgt, consectetur adipiscing elit. ...</p>
    <p>Lorem ipsdfgdfhfghum dolor sit amet, consectetur adipiscing elit. ...</p>
    <div class="main-container">
        <iframe src="https://www.facebook.com/plugins/video.php?height=322&href=https%3A%2F%2Fwww.facebook.com%2F100090355872470%2Fvideos%2F255305790208890%2F&show_text=false&width=560&t=0" 
        width="560" 
        height="322" 
        style="border:none;overflow:hidden" 
        scrolling="no" 
        frameborder="0" 
        allowfullscreen="true" 
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
        </iframe>
        <div>
            <p>tas ta tas ana</p>
            <p>poto tas pas ana</p>
            <p>ir taip toliau toliau toliau toliau ir toliau...</p>
        </div>
    </div>
</div>
{% endblock %}
